# Packwiz-generated exports
*.mrpack

# OS/editor junk
.vscode/
.probe/

# do I need a comment for this one?
.env
pack.toml
index.toml
index.toml
config/jei/world/local/New World/lookupHistory.json
config/fabric/indigo-renderer.properties
/config/historystages/logs
/config/jei/world
config/drippyloadingscreen/early_window_reference.properties
config/fabric/indigo-renderer.properties
